:root {
  --primary-color: hsl(122deg 46% 45%);
  --primary-color-light: #daffda;

  --gray-color-dark: #555454;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black; */
}
